body {
    padding-top: 54px;
}

/* Navigation */
/* Navigation: Temporary fix for navbar responsiveness */
.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

.navbar {
    border-top: #009de0 4px solid;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%);
}

.navbar-brand-whitelabel {
    width: 20px;
    height: auto;
}

#page-content-wrapper {
    background: linear-gradient(to bottom, #1a4d80 0%, #178299 50%, #2dabb3 100%) fixed;
    min-height: calc(100vh - 54px);
}