@import url(sp-fiori-box.css);

:root {
    --grid-gutter-width: 16px;
    --text-primary: rgba(0,0,0,.87);
    --text-secondary: rgba(0,0,0,.54);
    --text-disabled: rgba(0,0,0,.38);
    --divider: rgba(0,0,0,.12);
    --icon-color: #007cc0;
}

/* Body */
body {
    padding-top: 54px;
}

/* Body: Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.3);
}

/* Navigation */
/* Navigation: Temporary fix for navbar responsiveness */
.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

.navbar {
    border-top: #009de0 4px solid;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%);
}

.navbar-brand-whitelabel {
    width: 20px;
    height: auto;
}

/* Page */
#page-content-wrapper {
    background: linear-gradient(to bottom, #1a4d80 0%, #178299 50%, #2dabb3 100%) fixed;
    min-height: calc(100vh - 54px);
}

@media screen and (min-width: 768px) {
    #page-content-wrapper {
        padding: 20px 48px;
    }
}

/* Page: Dashboard */
.page--dashboard h3.title {
    color: white;
}

.page--dashboard .row {
    margin: calc(var(--grid-gutter-width) / -2);
}

.page--dashboard .row > * {
    padding: calc(var(--grid-gutter-width) / 2);
}