:root {
    --shell-header-height: 50px;
    --shell-footer-height: 50px;
}

.shell-container {
    display: flex;
    position: relative;
    height: calc(100vh - 54px);
    max-width: 1280px;
    margin: auto;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .38);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, .38);
    box-shadow: 0 3px 12px rgba(0, 0, 0, .38);
}

@media screen and (max-width: 1280px) {
    .shell-container {
        width: 100%;
    }
}

.shell__sidebar {
    display: none;
    position: relative;
    width: 320px;
}

@media screen and (min-width: 768px) {
    .shell__sidebar {
        display: block;
    }
}

.shell__sidebar-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--shell-header-height);
    line-height: var(--shell-header-height);
    background: white;
    font-size: 16px;
    text-align: center;
    border-bottom: solid 1px var(--divider);
    border-right: solid 1px var(--divider);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.shell__sidebar-body {
    position: absolute;
    top: var(--shell-header-height);
    bottom: var(--shell-footer-height);
    width: 100%;
    overflow: auto;
    background: white;
    border-right: solid 1px var(--divider);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.shell__sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--shell-footer-height);
    background: var(--bg-dark);
    border-top: solid 1px var(--divider);
    border-right: solid 1px var(--divider);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 5px 16px;
}

.shell__main {
    position: relative;
    flex-grow: 1;
}

.shell__header {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--shell-header-height);
    background-color: white;
    box-sizing: border-box;
    border-bottom: solid 1px var(--divider);
}

.shell__header > * {
    margin: auto 0;
}

.shell__nav {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}

.shell__title {
    font-size: 16px;
    text-align: center;
    line-height: var(--shell-header-height);
}

.shell__body {
    position: absolute;
    top: var(--shell-header-height);
    bottom: var(--shell-footer-height);
    overflow: auto;
    padding: 16px;
    width: 100%;
    background: var(--bg-default);
}

.shell__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--shell-footer-height);
    background: var(--bg-dark);
    border-top: solid 1px var(--divider);
    vertical-align: middle;
    padding: 5px 16px;
}

/* Default button style on Shell Footer */
.shell__footer .btn-default {
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.38);
    background-color: transparent;
    border: none;
}

.shell__footer .btn-default:hover {
    background-color: rgba(255,255,255,.12);
}

.shell__footer .btn-default:active,
.shell__footer .btn-default:focus {
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.38);
    background-color: rgba(255,255,255,.38);
}