/* Page: Dashboard */
.dashboard-container {
    padding-top: 24px;
}

.dashboard-container h3.title {
    font-size: 32px;
    color: white;
}

.dashboard-container .row {
    margin: calc(var(--grid-gutter-width) / -2);
}

.dashboard-container .row > * {
    padding: calc(var(--grid-gutter-width) / 2);
}