/* Box */
.box {
    position: relative;
    width: 100%;
    height: 176px;
    padding: 8px;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
}

.box:hover {
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.38);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.38);
    box-shadow: 0 1px 3px rgba(0,0,0,.38);
    transition-duration: .1s;
}

.box .box__header {
    font-size: 16px;
    color: var(--text-primary);
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.box .box__subheader {
    font-size: 14px;
    color: var(--text-secondary);
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.box .box__footer {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 14px;
    color: var(--text-disabled);
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.box .box__icon {
    position: absolute;
    left: 8px;
    bottom: 30px;
    float: left;
    font-size: 36px;
    color: var(--icon-color);
    vertical-align: baseline;
}

.box .box__number {
    position: absolute;
    right: 8px;
    bottom: 30px;
    float: right;
    font-size: 48px;
    color: var(--text-secondary);
    text-align: right;
    vertical-align: baseline;
}
