:root {
    --sidebar-menu-height: 48px;
}

.sidebar-nav {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

/* Sidebar: Menus */
.sidebar-nav ul {
    padding-left: 0;
}

.sidebar-nav li {
    position: relative;
    line-height: var(--sidebar-menu-height);
    list-style-type: none;
    background-color: white;
    text-indent: 0;
}

.sidebar-nav > li {
    border-bottom: solid 1px var(--divider);
}

.sidebar-nav li label {
    display: block;
    position: relative;
    margin: 0;
    color: var(--text-primary);
}

/* Left margin settings of menu item */
/*Parent*/
.sidebar-nav > li label .icon {
    margin-left: 20px;
    max-width: 16px;
    height: auto;
}
.sidebar-nav > li label span {
    margin-left: 20px;
    font-weight: normal;
}
.sidebar-nav > li label .icon-right {
    position: absolute;
    right: 20px;
    line-height: var(--sidebar-menu-height);
    max-width: 16px;
    height: auto;
}
/*Child*/
.sidebar-nav ul li label span {
    margin-left: 58px !important;
}

/*Active state*/
.sidebar-nav li.active {
    background-color: #e8eff6;
}

.sidebar-nav li.active > label span,
.sidebar-nav li.active > a > label span {
    font-weight: bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li label:hover,
.sidebar-nav li a:hover {
    background: #E0E0E0;
    color: var(--text-primary);
    text-decoration: none;
}

/* Hide native checkbox */
.sidebar-nav input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

/* Hide or show child menu item. */
.sidebar-nav ul {
    /* by default hide all sub menus */
    display: none;
}

.sidebar-nav input[type=checkbox]:checked + label + ul,
.sidebar-nav input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
}