<h1>Form</h1>
<h2 id="formHorizontal">Horizontal Form</h2>
<p>Most of Fiori form use Bootstrap's horizontal form.</p>
<div class="bs-docs-example">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Default form:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Default form">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Disabled form:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Disabled form" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Static form:</label>
            <div class="col-sm-9">
                <p type="text" class="form-control-static">Static form</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Dropdown:</label>
            <div class="col-sm-9">
                <select class="form-control">
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Checkbox
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" disabled> Disabled checkbox
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Radio:</label>
            <div class="col-sm-9">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                        Option three is disabled
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<figure class="bs-docs-code">
<pre><code><xmp><form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Default form:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Default form">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Disabled form:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Disabled form" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Static form:</label>
        <div class="col-sm-9">
            <p type="text" class="form-control-static">Static form</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Dropdown:</label>
        <div class="col-sm-9">
            <select class="form-control">
                <option>Option 1</option>
                <option>Option 2</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Checkbox
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" disabled> Disabled checkbox
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Radio:</label>
        <div class="col-sm-9">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1x" value="option1" checked>
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2x" value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="radio disabled">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3x" value="option3" disabled>
                    Option three is disabled
                </label>
            </div>
        </div>
    </div>
</form></xmp></code></pre>
</figure>