<h1>Page</h1>
<h2 id="pageBasic">Basic Page</h2>
<p>Fiori layout is using the gradient blue color.
    It will automatically stretch and fix the page to the bottom of the browser.</p>
<div class="bs-docs-example">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-x" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-x">
                <ul class="nav navbar-nav">
                    <li><a href="#"><img src="assets/images/logo-berau.png" class="navbar-brand-whitelabel"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="page page--blue" style="min-height: 300px !important">
        <!--Content here...-->
    </section>
</div>
<figure class="bs-docs-code">
<pre><code><xmp><nav class="navbar navbar-default">
    Navigation bar header here...
</nav>
<section class="page page--blue">
    Content here...
</section></xmp></code></pre>
</figure>
<h2 id="pageShell"></h2>
<div class="bs-docs-example">
    <div class="shell-container">
        <aside class="shell__sidebar">
            <div class="shell__sidebar-header">
                Shell sidebar header
            </div>
            <div class="shell__sidebar-body" style="padding: 16px">
                Shell sidebar body
            </div>
            <div class="shell__sidebar-footer">

            </div>
        </aside>
        <section class="shell__main">
            <div class="shell__header">
                Shell header
            </div>
            <div class="shell__body">
                Shell Body
            </div>
            <div class="shell__footer text-right">
                <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Reject</button>
            </div>
        </section>
    </div>
</div>